body{
	margin: 0;
	background-color: black;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	margin-left: 50px;
}
video{
	margin:0;
	width: 80%;
    height: auto;
}
/*Navigation Bar*/
ul
{
	position: fixed;
	text-align: right;
	list-style-type: none;
    margin: 0;
    padding: 1%;
    overflow: hidden;
	background-color:black;
	z-index: 1;
	width: 90%;
}
#icons{
	text-align: left;
	float: left;
}
li
{
	display: inline;
}
/* defines the link for nav bar*/
li a
{
	display: block;
	color:white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.5em;
	display: inline-block;
	text-align: center;
}
li a:hover{
    color: #009688;
}
#tagLine{
	font-size: 1.3em;
	text-align: left;
	color: white;
	z-index: 1;
	position: relative;
	bottom: 130px;
	left: 0px;
	right: 50px;
	width: 670px;
	height: 100px;
}
H2{
	color: white;
}
H3{
	color: #009688;
	font-size: 1.1em;
}
html {
	scroll-behavior: smooth;
  }